body {
	background-color:#d0a8ff;
	background-image: url('../img/checkers.png');
	background-repeat: repeat;
}

#pagetitle {
	font-size:2.2em;
	text-align:center;
	padding:10px;
  text-shadow: 0 0 0.2em #9D00FF;
}

#rollbutton {
	background-color:#FFFFFF;
	border:2px solid black;
	font-family:Arial;
	font-size:1.5em;
	width:120px;
	margin: 0 auto;
}

#rollbutton:hover{
   opacity:.9;
   cursor:pointer;
   box-shadow: 0 0 1em #F2FF03;
}

#content {
	margin:0 auto;
	font-family:Arial;
	font-size:1.5em;
	width:55%;
	height:80%;
	text-align:center;
	background-color:grey;
}

#wrapper {
    text-align: center;
}

#magiceffect {
	text-align:left;
	margin:5px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#result {
	margin:20px;
}

a {
  text-decoration:none;
  color:#9D00FF;
}
a:hover {
  text-decoration:none;
  color:#9D00FF;
  cursor:pointer;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}


#footer {
    width: 100%;
    position:absolute;
    bottom:0; right:0
}
